*.pyc
snap_test.sh
demo.py
.gitignore
.demo.py.swp
.gitignore
.Stage_5.py.swp
dateutil/__init__.py
dateutil/_common.py
dateutil/_version.py
dateutil/easter.py
dateutil/relativedelta.py
dateutil/rrule.py
dateutil/tzwin.py
dateutil/utils.py
dateutil/parser/__init__.py
dateutil/parser/_parser.py
dateutil/parser/isoparser.py
dateutil/tz/__init__.py
dateutil/tz/_common.py
dateutil/tz/_factories.py
dateutil/tz/tz.py
dateutil/tz/win.py
dateutil/zoneinfo/__init__.py
dateutil/zoneinfo/dateutil-zoneinfo.tar.gz
dateutil/zoneinfo/rebuild.py
dateutil/zoneinfo/__pycache__/__init__.cpython-310.pyc
dateutil/zoneinfo/__pycache__/rebuild.cpython-310.pyc
library_tests/cvtest.py
short_chains/Stage_2.py
short_chains/dump-undump/current_date.txt
short_chains/dump-undump/stage_1.py
short_chains/dump-undump/Stage_2.py
short_chains/dump-undump/stage_3.py
short_chains/dump-undump/stage_4.py
short_chains/dump-undump/Stage_5.py
short_chains/dump-undump/Stage_6.py
short_chains/dump-undump/temp.png
short_chains/dump-undump/Learning/002.tif
short_chains/dump-undump/Learning/003.tif
short_chains/dump-undump/Learning/004.tif
short_chains/dump-undump/Learning/005.tif
short_chains/dump-undump/Learning/006.tif
short_chains/dump-undump/Learning/007.tif
short_chains/dump-undump/Learning/008.tif
short_chains/dump-undump/Learning/009.tif
short_chains/dump-undump/Learning/010.tif
short_chains/dump-undump/Learning/011.tif
short_chains/dump-undump/Learning/012.tif
short_chains/dump-undump/Learning/013.tif
short_chains/dump-undump/Learning/014.tif
short_chains/dump-undump/Learning/015.tif
short_chains/dump-undump/Learning/016.tif
short_chains/dump-undump/Learning/017.tif
short_chains/dump-undump/Learning/018.tif
short_chains/dump-undump/Learning/019.tif
short_chains/dump-undump/Learning/020.tif
short_chains/dump-undump/Learning/021.tif
short_chains/dump-undump/Learning/022.tif
short_chains/dump-undump/Learning/023.tif
short_chains/dump-undump/Learning/024.tif
short_chains/dump-undump/Learning/025.tif
short_chains/dump-undump/Learning/026.tif
short_chains/dump-undump/Learning/027.tif
short_chains/dump-undump/Learning/028.tif
short_chains/dump-undump/Learning/029.tif
short_chains/dump-undump/Learning/030.tif
short_chains/dump-undump/Learning/031.tif
short_chains/dump-undump/Learning/032.tif
short_chains/dump-undump/Learning/033.tif
short_chains/dump-undump/Learning/034.tif
short_chains/dump-undump/Learning/035.tif
short_chains/dump-undump/Learning/036.tif
short_chains/dump-undump/Learning/037.tif
short_chains/dump-undump/Learning/038.tif
short_chains/dump-undump/Learning/039.tif
short_chains/dump-undump/Learning/040.tif
short_chains/dump-undump/Learning/041.tif
short_chains/dump-undump/Learning/042.tif
short_chains/dump-undump/Learning/043.tif
short_chains/dump-undump/Learning/044.tif
short_chains/dump-undump/Learning/045.tif
short_chains/dump-undump/Learning/046.tif
short_chains/dump-undump/Learning/047.tif
short_chains/dump-undump/Learning/048.tif
short_chains/dump-undump/Learning/049.tif
short_chains/dump-undump/Learning/050.tif
short_chains/dump-undump/Learning/051.tif
short_chains/dump-undump/Learning/052.tif
short_chains/dump-undump/Learning/053.tif
short_chains/dump-undump/Learning/054.tif
short_chains/dump-undump/Learning/055.tif
short_chains/dump-undump/Learning/056.tif
short_chains/dump-undump/Learning/057.tif
short_chains/dump-undump/Learning/058.tif
short_chains/dump-undump/Learning/059.tif
short_chains/dump-undump/Learning/060.tif
short_chains/dump-undump/Learning/061.tif
short_chains/dump-undump/Learning/062.tif
short_chains/dump-undump/Learning/063.tif
short_chains/dump-undump/Learning/064.tif
short_chains/dump-undump/Learning/065.tif
short_chains/dump-undump/Learning/066.tif
short_chains/dump-undump/Learning/067.tif
short_chains/dump-undump/Learning/068.tif
short_chains/dump-undump/Learning/069.tif
short_chains/dump-undump/Learning/070.tif
short_chains/dump-undump/Learning/071.tif
short_chains/dump-undump/Learning/072.tif
short_chains/dump-undump/Learning/073.tif
short_chains/dump-undump/Learning/074.tif
short_chains/dump-undump/Learning/075.tif
short_chains/dump-undump/Learning/076.tif
short_chains/dump-undump/Learning/077.tif
short_chains/dump-undump/Learning/078.tif
short_chains/dump-undump/Learning/079.tif
short_chains/dump-undump/Learning/080.tif
short_chains/dump-undump/Learning/081.tif
short_chains/dump-undump/Learning/082.tif
short_chains/dump-undump/Learning/083.tif
short_chains/dump-undump/Learning/084.tif
short_chains/dump-undump/Learning/085.tif
short_chains/dump-undump/Learning/086.tif
short_chains/dump-undump/Learning/087.tif
short_chains/dump-undump/Learning/088.tif
short_chains/dump-undump/Learning/089.tif
short_chains/dump-undump/Learning/090.tif
short_chains/dump-undump/Learning/091.tif
short_chains/dump-undump/Learning/092.tif
short_chains/dump-undump/Learning/093.tif
short_chains/dump-undump/Learning/094.tif
short_chains/dump-undump/Learning/095.tif
short_chains/dump-undump/Learning/096.tif
short_chains/dump-undump/Learning/097.tif
short_chains/dump-undump/Learning/098.tif
short_chains/dump-undump/Learning/099.tif
short_chains/dump-undump/Learning/100.tif
short_chains/dump-undump/Learning/counter_rename.sh
noprune_test.sh
smart_assistant/image_segments/001/45/0.png
smart_assistant/image_segments/004/95/0.png
smart_assistant/image_segments/004/95/1.png
smart_assistant/image_segments/005/55/1.png
smart_assistant/image_segments/008/100/1.png
data.json
smart_assistant/image_segments/
smart_assistant/image_segments/
Learning/Isolation/009.tif
Learning/Isolation/011.tif
Learning/Isolation/012.tif
Learning/Isolation/013.tif
Learning/Isolation/021.tif
Learning/Isolation/031.tif
Learning/Isolation/034.tif
Learning/Isolation/035.tif
Learning/Isolation/043.tif
Learning/Isolation/045.tif
Learning/Isolation/050.tif
Learning/Sample/011.tif
Learning/Sample/012.tif
Learning/Sample/013.tif
Learning/Sample/014.tif
Learning/Sample/015.tif
Learning/Sample/016.tif
Learning/Sample/017.tif
Learning/Sample/018.tif
Learning/Sample/019.tif
Learning/Sample/020.tif
Learning/Sample/021.tif
Learning/Sample/022.tif
Learning/Sample/023.tif
Learning/Sample/024.tif
Learning/Sample/025.tif
Learning/Sample/026.tif
Learning/Sample/027.tif
Learning/Sample/028.tif
Learning/Sample/029.tif
Learning/Sample/030.tif
Learning/Sample/031.tif
Learning/Sample/032.tif
Learning/Sample/033.tif
Learning/Sample/034.tif
Learning/Sample/035.tif
Learning/Sample/036.tif
Learning/Sample/037.tif
Learning/Sample/038.tif
Learning/Sample/039.tif
Learning/Sample/040.tif
Learning/Sample/041.tif
Learning/Sample/042.tif
Learning/Sample/043.tif
Learning/Sample/044.tif
Learning/Sample/045.tif
Learning/Sample/046.tif
Learning/Sample/047.tif
Learning/Sample/048.tif
Learning/Sample/049.tif
Learning/Sample/050.tif
Learning/Sample/051.tif
Learning/Sample/052.tif
Learning/Sample/053.tif
Learning/Sample/054.tif
Learning/Sample/055.tif
Testing/101.tif
Testing/102.tif
Testing/103.tif
Testing/104.tif
Testing/105.tif
Testing/106.tif
Testing/107.tif
Testing/108.tif
Testing/109.tif
Testing/110.tif
Testing/111.tif
Testing/112.tif
Testing/113.tif
Testing/114.tif
Testing/115.tif
Testing/116.tif
Testing/117.tif
Testing/118.tif
Testing/119.tif
Testing/120.tif
Testing/121.tif
Testing/122.tif
Testing/123.tif
Testing/124.tif
Testing/125.tif
Testing/126.tif
Testing/127.tif
Testing/128.tif
Testing/129.tif
Testing/130.tif
Testing/131.tif
Testing/132.tif
Testing/133.tif
Testing/134.tif
Testing/135.tif
Testing/136.tif
Testing/137.tif
Testing/138.tif
Testing/139.tif
Testing/140.tif
Testing/141.tif
Testing/142.tif
Testing/143.tif
Testing/144.tif
Testing/145.tif
Testing/146.tif
Testing/147.tif
Testing/148.tif
Testing/149.tif
Testing/150.tif
Testing/151.tif
Testing/152.tif
Testing/153.tif
Testing/154.tif
Testing/155.tif
Testing/156.tif
Testing/157.tif
Testing/158.tif
Testing/159.tif
Testing/160.tif
Testing/161.tif
Testing/162.tif
Testing/163.tif
Testing/164.tif
Testing/165.tif
Testing/166.tif
Testing/167.tif
Testing/168.tif
Testing/169.tif
Testing/170.tif
Testing/171.tif
Testing/172.tif
Testing/173.tif
Testing/174.tif
Testing/175.tif
Testing/176.tif
Testing/177.tif
Testing/178.tif
Testing/179.tif
Testing/180.tif
Testing/181.tif
Testing/182.tif
Testing/183.tif
Testing/184.tif
Testing/185.tif
Testing/186.tif
Testing/187.tif
Testing/188.tif
Testing/189.tif
Testing/190.tif
Testing/191.tif
Testing/192.tif
Testing/193.tif
Testing/194.tif
Testing/195.tif
Testing/196.tif
Testing/197.tif
Testing/198.tif
Testing/199.tif
Testing/200.tif
Testing/counter_rename.sh
Testing/counter_rename.sh:Zone.Identifier
130.tif
