*.pyc
snap_test.sh
demo.py
.gitignore
.demo.py.swp
.gitignore
.Stage_5.py.swp
dateutil/__init__.py
dateutil/_common.py
dateutil/_version.py
dateutil/easter.py
dateutil/relativedelta.py
dateutil/rrule.py
dateutil/tzwin.py
dateutil/utils.py
dateutil/parser/__init__.py
dateutil/parser/_parser.py
dateutil/parser/isoparser.py
dateutil/tz/__init__.py
dateutil/tz/_common.py
dateutil/tz/_factories.py
dateutil/tz/tz.py
dateutil/tz/win.py
dateutil/zoneinfo/__init__.py
dateutil/zoneinfo/dateutil-zoneinfo.tar.gz
dateutil/zoneinfo/rebuild.py
dateutil/zoneinfo/__pycache__/__init__.cpython-310.pyc
dateutil/zoneinfo/__pycache__/rebuild.cpython-310.pyc
library_tests/cvtest.py
short_chains/Stage_2.py
short_chains/dump-undump/current_date.txt
short_chains/dump-undump/stage_1.py
short_chains/dump-undump/Stage_2.py
short_chains/dump-undump/stage_3.py
short_chains/dump-undump/stage_4.py
short_chains/dump-undump/Stage_5.py
short_chains/dump-undump/Stage_6.py
short_chains/dump-undump/temp.png
short_chains/dump-undump/Learning/002.tif
short_chains/dump-undump/Learning/003.tif
short_chains/dump-undump/Learning/004.tif
short_chains/dump-undump/Learning/005.tif
short_chains/dump-undump/Learning/006.tif
short_chains/dump-undump/Learning/007.tif
short_chains/dump-undump/Learning/008.tif
short_chains/dump-undump/Learning/009.tif
short_chains/dump-undump/Learning/010.tif
short_chains/dump-undump/Learning/011.tif
short_chains/dump-undump/Learning/012.tif
short_chains/dump-undump/Learning/013.tif
short_chains/dump-undump/Learning/014.tif
short_chains/dump-undump/Learning/015.tif
short_chains/dump-undump/Learning/016.tif
short_chains/dump-undump/Learning/017.tif
short_chains/dump-undump/Learning/018.tif
short_chains/dump-undump/Learning/019.tif
short_chains/dump-undump/Learning/020.tif
short_chains/dump-undump/Learning/021.tif
short_chains/dump-undump/Learning/022.tif
short_chains/dump-undump/Learning/023.tif
short_chains/dump-undump/Learning/024.tif
short_chains/dump-undump/Learning/025.tif
short_chains/dump-undump/Learning/026.tif
short_chains/dump-undump/Learning/027.tif
short_chains/dump-undump/Learning/028.tif
short_chains/dump-undump/Learning/029.tif
short_chains/dump-undump/Learning/030.tif
short_chains/dump-undump/Learning/031.tif
short_chains/dump-undump/Learning/032.tif
short_chains/dump-undump/Learning/033.tif
short_chains/dump-undump/Learning/034.tif
short_chains/dump-undump/Learning/035.tif
short_chains/dump-undump/Learning/036.tif
short_chains/dump-undump/Learning/037.tif
short_chains/dump-undump/Learning/038.tif
short_chains/dump-undump/Learning/039.tif
short_chains/dump-undump/Learning/040.tif
short_chains/dump-undump/Learning/041.tif
short_chains/dump-undump/Learning/042.tif
short_chains/dump-undump/Learning/043.tif
short_chains/dump-undump/Learning/044.tif
short_chains/dump-undump/Learning/045.tif
short_chains/dump-undump/Learning/046.tif
short_chains/dump-undump/Learning/047.tif
short_chains/dump-undump/Learning/048.tif
short_chains/dump-undump/Learning/049.tif
short_chains/dump-undump/Learning/050.tif
short_chains/dump-undump/Learning/051.tif
short_chains/dump-undump/Learning/052.tif
short_chains/dump-undump/Learning/053.tif
short_chains/dump-undump/Learning/054.tif
short_chains/dump-undump/Learning/055.tif
short_chains/dump-undump/Learning/056.tif
short_chains/dump-undump/Learning/057.tif
short_chains/dump-undump/Learning/058.tif
short_chains/dump-undump/Learning/059.tif
short_chains/dump-undump/Learning/060.tif
short_chains/dump-undump/Learning/061.tif
short_chains/dump-undump/Learning/062.tif
short_chains/dump-undump/Learning/063.tif
short_chains/dump-undump/Learning/064.tif
short_chains/dump-undump/Learning/065.tif
short_chains/dump-undump/Learning/066.tif
short_chains/dump-undump/Learning/067.tif
short_chains/dump-undump/Learning/068.tif
short_chains/dump-undump/Learning/069.tif
short_chains/dump-undump/Learning/070.tif
short_chains/dump-undump/Learning/071.tif
short_chains/dump-undump/Learning/072.tif
short_chains/dump-undump/Learning/073.tif
short_chains/dump-undump/Learning/074.tif
short_chains/dump-undump/Learning/075.tif
short_chains/dump-undump/Learning/076.tif
short_chains/dump-undump/Learning/077.tif
short_chains/dump-undump/Learning/078.tif
short_chains/dump-undump/Learning/079.tif
short_chains/dump-undump/Learning/080.tif
short_chains/dump-undump/Learning/081.tif
short_chains/dump-undump/Learning/082.tif
short_chains/dump-undump/Learning/083.tif
short_chains/dump-undump/Learning/084.tif
short_chains/dump-undump/Learning/085.tif
short_chains/dump-undump/Learning/086.tif
short_chains/dump-undump/Learning/087.tif
short_chains/dump-undump/Learning/088.tif
short_chains/dump-undump/Learning/089.tif
short_chains/dump-undump/Learning/090.tif
short_chains/dump-undump/Learning/091.tif
short_chains/dump-undump/Learning/092.tif
short_chains/dump-undump/Learning/093.tif
short_chains/dump-undump/Learning/094.tif
short_chains/dump-undump/Learning/095.tif
short_chains/dump-undump/Learning/096.tif
short_chains/dump-undump/Learning/097.tif
short_chains/dump-undump/Learning/098.tif
short_chains/dump-undump/Learning/099.tif
short_chains/dump-undump/Learning/100.tif
short_chains/dump-undump/Learning/counter_rename.sh
noprune_test.sh
smart_assistant/image_segments/001/45/0.png
smart_assistant/image_segments/004/95/0.png
smart_assistant/image_segments/004/95/1.png
smart_assistant/image_segments/005/55/1.png
smart_assistant/image_segments/008/100/1.png
data.json
